/* 1. Importação da Fonte SCIENCE GOTHIC */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@300..800&display=swap');


body {
    /* Aplica a fonte 'Science Gothic' */
    font-family: 'Science Gothic', sans-serif;
    background-color: #333; /* Fundo suave */
    color: #47e7e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}